<!-- Importando partials com EJS -->
<%- include('../../partials/header.ejs') %>
<body>
  <%- include('../../partials/navbar.ejs') %>
  <h2>Bem vindo ao painel administrativo</h2>
</body>
<%- include('../../partials/footer.ejs') %>
