<!-- Importando partials com EJS -->
<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container" id="formulario-pergunta">
    <div class="card">
      <div class="card-header">
        <h3>Realizar Pergunta</h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/salvarpergunta" onsubmit="btnInsert.disabled = true; return true;"></form>>
          <label>Titulo</label>
          <input
            type="text"
            name="titulo"
            placeholder="Título"
            class="form-control"
            required
          />
          <br />
          <label>Descrição</label>
          <textarea
            placeholder="Pergunte aqui"
            name="descricao"
            class="form-control"
            required
          ></textarea>
          <br />
          <a href="/" class="btn btn-primary">Voltar</a>
          <button class="btn btn-success">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>
